<div class="dashboard-container">
  <div [ngClass]="{showprofile : displayProfile}"   class="profile-section" *ngIf="displayProfile">
    profile data
  </div>
  <div class="nav-block">
    <span class="profle-icon">
      <i class="fa fa-user-circle-o"></i>
    </span>
   
    <span class="nav-items" [ngClass]="{active: item.selected}" *ngFor="let item of navMenuItems" (click)="onClickOption(item)">{{item.name}}</span>
    <button (click)="onClickLogout()" class="logout-btn">LOGOUT</button>
  </div>
  <div class="display-block">
    <div class="summary-block">
      <div class="card positive">Positive Cases: 20</div>
      <div class="card negative">Negative Cases: 20</div>
    </div>
    <div class="router-block">
      <router-outlet></router-outlet>
    </div>
    </div>
  </div>
 

