.dashboard-container {
  margin: 10px;
  padding: 10px;
  .profile-section {
    position: absolute;
    width: 200px;
    height: 200px;
    left: -200px;
    border: 1px solid black;
  }
  .showprofile {
    transition: 10000s;
    left: 0;
  }
  .nav-block {
    align-items: center;
    display: flex;
    margin-right: 10px;
    .logout-btn {
      margin-left: auto;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    }
    .profle-icon {
      font-size: 50px;
      margin-right: 20px;
    }
    .active {
      background-color: #4caf50;
      color: white;
    }
    .nav-items {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      margin: 10px;
      padding: 10px;
    }

    .nav-items:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }

  .display-block {
    display: flex;
    .summary-block {
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        margin: 10px;
        padding: 10px;
      }
      .positive {
        &:hover {
          background-color: red;
          color: white;
          cursor: pointer;
        }
      }
      .negative {
        &:hover {
          background-color: green;
          color: white;
          cursor: pointer;
        }
      }
    }
    .router-block {
      flex:1;
    }
  }
}
