<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Tracker Summary</h1>
    </header>
    <section id="modal-body">
        <p>Name: </p>
        <p>You're doing good! Stay 2m apart and close virtually!</p>
    </section>
    <footer id="modal-footer">
        <!--<button mat-raised-button id="modal-action-button" (click)="actionFunction()">Logout</button> -->
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Close</button>
    </footer>
</div>
