<div class="home-page-container">
  <div class="profile-section">
    <div class="p-block-1">
      <div class="icon-block">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
      </div>
      <div class="data-block">
        <div>
          {{userInfo?.name}}
        </div>
        <div>
          {{userInfo?.mobile_number}}
        </div>
      </div>
    </div>
    <div class="separator"></div>
    <div class="p-block-2">
      <div class="icon-block">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <span> {{userInfo?.postal_code}}</span>
    </div>
    <div class="separator"></div>
    <div class="p-block-3">
      <div class="icon-block">
        <i class="fa fa-id-card" aria-hidden="true"></i>
      </div>
      <span> Age: {{userInfo?.date_of_birth}} Gender: {{userInfo?.gender}}</span>
    </div>
    <div class="separator"></div>
    <div class="logout-btn-section">
      <button (click)="onClickLogoutBtn()">LOGOUT</button>
    </div>
  </div>
  <div class="tracker-section">
    <div class="tracker-header">
      Health Assesments: You have {{ healthTrackerCount }} health assesment(s)
      in progress.
    </div>
    <div
      *ngIf="!hasActiveHT"
      class="create-new-ht"
      (click)="onClickCreateNewTracker()"
    >
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span>
        Create a health tracker
      </span>
    </div>

    <div *ngIf="hasActiveHT" class="active-ht-block">
      <div class="first-block">
        <div>
          {{ healthTrackerData?.tracker_name }}
        </div>
        <div>
          <label class="lbl">Created Date:</label>
          <span class="lbl-val"> {{ healthTrackerData?.created_dt }} </span>
        </div>
        <div>
          <label class="lbl"> Days: </label>
          <span
            class="lbl-val"
            *ngFor="let day of '1 2 3 4 5 6 7 8 9 10 11 12 13 14'.split(' ')"
            [ngClass]="isDayInList(day)"
            (click)="onClickDay(day)"
          >
            {{ day }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
