<div>
    <div id="map" class="col-8">
        <h1 style="font-size: 3em;">COVID-19 Map (Worldwide)</h1>
        <img id="cover" src="../../assets/covid.png" alt="Covid-map"/>
        <h1 style="font-size: 3em;">Stay Home. Fight Together.</h1>
    </div>
    <div id="register-box" class="col-3">
        <h2 id="register-heading">COVID-19 Symptoms? We will help you and you help us save others.</h2>
        <p style="font-size: 1.25em;">Register Yourself</p>
        <form action="" method="">
            <div class="form-group">
                <input type="text" class="form-control" id="firstName" placeholder="First Name*" name="firstName">
            </div>
            <div class="form-group">
                <input type="text" id="lastName" class="form-control" placeholder="Last Name*" name="lastName">
            </div>
            <div class="form-group">
                <input type="email" id="email" class="form-control" placeholder="Email*" name="email">
            </div>
            <div class="form-group">
                <input type="tel" id="phone" class="form-control" placeholder="Phone number*" name="phone">
            </div>
            <div class="form-group">
                <input type="password" id="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="form-group" style="font-size: 1.5em;">
                <input type="checkbox" id="term-agreement" name="term" value="term-agreement">
                <label for="text"> I have read and accepted the <a href="">Terms & Conditions</a></label>
            </div>
            
            <button type="submit" name="accSubmit" value="Submit" id="register-button">Register</button>
        </form>
        <h4>Already registered? <a href="">Log in</a></h4>
    </div>
</div>